<!DOCTYPE html>
<html lang=”en”>
<head>
   <link rel="stylesheet" href="public/css/styles.css">
</head>
<body>
<section name=”contacts” >
 <div class=”contacts text-center”>

 <ul>
 <% for(var i=0; i<result.length; i++) { %>
 		<li><%= result[i].name %> did <%= result[i].number %> on repo <%= result[i].email %>  </li>
 <% } %>
 </ul>
 </div>
</section>
</body>
</html>
