<!DOCTYPE html>
<html lang=”en”>
<body>
<section name=”contacts” >
 <div class=”contacts text-center”>
 <h1>Contacts</h1>
 <ul>
 <% for(var i=0; i<result.length; i++) { %>
 		<li><%= result[i].name %> did <%= result[i].number %> on repo <%= result[i].email %>  </li>
 <% } %>
 </ul>
 </div>
</section>
</body>
</html>
