<!DOCTYPE html>
<html lang=”en”>
<head>
   <link rel="stylesheet" href="/public/css/styles.css">
   <script>
   // this function registers always the same contact
   // for simplicity we add the same contact all the time, and as soon as we get a 200 OK we just reload.
    function createNew(){
      xhr = new XMLHttpRequest();

      xhr.open('POST', 'contacts/');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function() {
        if (xhr.status === 200) {
          location.reload();
          //alert(xhr.responseText);
        }
        else if (xhr.status !== 200) {
          alert('Request failed.  Returned status of ' + xhr.status+ ' and text '+xhr.responseText);
        }
      };
      xhr.send(JSON.stringify({
        name: 'John Smith',
        number: '+34123123123' ,
        email: 'john@smith.com'
      }));

    }

   </script>
</head>
<body>
<section name=”contacts” >
 <div class=”contacts text-center”>

 <ul>
 <% for(var i=0; i<result.length; i++) { %>
 		<li> <b><%= result[i].name %></b> number <%= result[i].number %> email <%= result[i].email %>  </li>
 <% } %>
 </ul>
 <p><a href="javascript:createNew()" class="btn">Create New Entry</a></p>
 </div>
</section>
</body>
</html>
