<!DOCTYPE html>
<html lang=”en”>
<head>
   <link rel="stylesheet" href="public/css/styles.css">
</head>

<body>
<section >
 <div>

 <ul>
 <% for(var i=0; i<result.length; i++) { %>
 		<li><img src="<%= result[i].actor.avatar_url %>" height="42" width="42"> <%= result[i].actor.login %> did <%= result[i].type %> on repo <%= result[i].repo.name %>  </li>
 <% } %>
 </ul>
 </div>
</section>
</body>
</html>
