<!DOCTYPE html>
<html lang=”en”>
<head>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
<section>
    <div>

        <ul>
            <% for(var i = 0; i < result.length; i++) { %>
            <li>User: <%= result[i].User %> Password: <%= result[i].Password %></li>
            <% } %>
        </ul>
    </div>
</section>
</body>
</html>
