<!DOCTYPE html>
<html lang=”en”>
<head>
  <link rel="stylesheet" href="/public/css/styles.css">
  <script>
    // this function registers always the same contact
	// for simplicity we add the same contact all the time, and as soon as we get a 200 OK we just reload.
	function createNewSqlContact() {
	  xhr = new XMLHttpRequest();
	  xhr.open('POST', 'sql/');
	  xhr.setRequestHeader('Content-Type', 'application/json');
	  xhr.onload = function () {
        if (xhr.status === 200) {
          location.reload();
          //alert(xhr.responseText);
        } else if (xhr.status !== 200) {
          alert('Request failed.  Returned status of ' + xhr.status + ' and text ' + xhr.responseText);
        }
      };
      xhr.send(JSON.stringify({
	    name: 'John Smith',
	    number: '+34123123123',
	    email: 'john@smith.com',
	    secret: 'superSecret'
      }));
    }
  </script>
</head>

<body>
<section>
    <div>

        <ul>
            <% for(var i = 0; i < result.length; i++) { %>
            <li>User: <%= result[i].Name %>, Number: <%= result[i].Number %>, Email: <%= result[i].Email %>
                <% if(result[i].secret) { %>
                Secret: <%= result[i].secret %>
                <% } %>
            </li>
            <% } %>
        </ul>
        <p><a href="javascript:createNewSqlContact()" class="btn">Create New Entry</a></p>
    </div>
</section>
</body>
</html>
