<!DOCTYPE html>
<html lang=”en”>
<head>
    <link rel="stylesheet" href="/public/css/styles.css">
    <script>
      // this function registers always the same contact
      // for simplicity we add the same contact all the time, and as soon as we get a 200 OK we just reload.
      function createNew() {

      }

    </script>
</head>

<body>
<section>
    <div>

        <ul>
            <% for(var i = 0; i < result.length; i++) { %>
            <li>User: <%= result[i].User %> Password: <%= result[i].Password %></li>
            <% } %>
        </ul>
        <p><a href="javascript:createNew()" class="btn">Create New Entry</a></p>
    </div>
</section>
</body>
</html>
