<!DOCTYPE html>
<html lang=”en”>
<body>
<section name=”contacts” >
 <div class=”contacts text-center”>
 <h1>Sample Policy App</h1>
 <%= message %>
 <% for(var i=0; i<model_pages.length; i++) { %>
   <iframe src = "/action/<%= model_pages[i] %>">
   </iframe>
 <% } %>
 </div>
</section>
</body>
</html>
