<!DOCTYPE html>
<html lang=”en”>
<head>
   <link rel="stylesheet" href="public/css/styles.css">
</head>
<body>
<section  class="container" >
 <div class="main" >
 <h1>Sample Policy App</h1>
 <p>
   <%= message %>
 <p>
 <table class="table table-striped">
    <tbody>
     <% for(var i=0; i<model_pages.length; i++) { %>
       <tr><th>
        <h2><%= model_pages[i] %></h2>
        <iframe src = "/action/<%= model_pages[i] %>" style="height:200px;width:100%;border:none;overflow:hidden;">
        </iframe>
      </th></tr>
     <% } %>
   </tbody>
 </table>
 </div>
</section>
</body>
</html>
